{% extends "base.html" %}
{% block title %}Удаления адреса - {{ block.super }}{% endblock %}

{% block content %}

<div class="box box-solid box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">Удалить адрес?</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->  
      <form action='.' method='POST'>
            <div class="box-body">
                {% csrf_token %}
                <h3>Удалить адрес "{{ object.name }}" из cправочника?</h3>
    <div class="box-footer">
            <div class="pull-right">
                <button class="btn btn-danger" type="submit" value='Yes'>Удалить</button>
                <a class="btn btn-warning" href="{% url 'location:list' %}">Отменить</a>
            </div>
        </div>
    </div><!-- /.box-body -->
</form>
</div>

{% endblock %}