{% extends "base.html" %}
{% block title %}Список оборудования - {{ block.super }}{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Список оборудования</h3>
            <div class="box-tools pull-right">
                <a class="btn btn-sm btn-success" href="{% url 'equipments:equipments-create' %}">
                    <i class="fa fa-plus"></i> Создать
                </a>
            </div><!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="col-sm-2">Название</th>
                    <th class="col-sm-2">Модель</th>
                    <th class="col-sm-1">Состояние</th>
                    <th class="col-sm-1">IP адрес</th>
                    <th class="col-sm-1">MAC адрес</th>
                    <th class="col-sm-2">Серийный номер</th>
                    <th class="col-sm-1">Дата поступления</th>
                    <th class="col-sm-2">Действия</th>
                </tr>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.emodel.name }}</td>
                        <td>{{ obj.estate }}</td>
                        <td>{{ obj.ip }}</td>
                        <td>{{ obj.mac }}</td>
                        <td>{{ obj.serial }}</td>
                        <td>{{ obj.create_at }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'equipments:equipments-update' obj.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url 'equipments:equipments-delete' obj.id %}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>нет записей</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">

            {% include "equipments/common/pagination.html" %}

        </div>
    </div>

{% endblock %}
