{% extends "base.html" %}
{% block title %}Список сетей - {{ block.super }}{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Список сетей</h3>
            <div class="box-tools pull-right">
                <a class="btn btn-sm btn-success" href="{% url 'equipments:lan-create' %}">
                    <i class="fa fa-plus"></i> Создать
                </a>
            </div><!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="col-sm-3">Имя сети</th>
                    <th class="col-sm-2">Vlan ID</th>
                    <th class="col-sm-3">Подсеть</th>
                    <th class="col-sm-2">Шлюз</th>
                    <th class="col-sm-2">Действия</th>
                </tr>
                {% for obj in object_list %}
                    <tr>
                        <td>
                            {{ obj.name }}
                        </td>
                        <td>{{ obj.vlan }}</td>
                        <td>{{ obj.network }}/{{ obj.netmask }}</td>
                        <td>{{ obj.gateway }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'equipments:lan-update' obj.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url 'equipments:lan-delete' obj.id %}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>нет записей</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">

            {% include "equipments/common/pagination.html" %}

        </div>
    </div>

{% endblock %}
